body {
  font-family: "Raleway", sans-serif;
}

.menu{
  display: flex;
  justify-content: center ;
}

/* Navba Section */
.logo {
  width: 50px;
  height: 50px;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 500px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

.icons-media {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.icon {
  color: #311918;
}

.icon:hover {
  color: #924541; 
}

.icon:focus,
.icon:active {
 color: #9b3a2e; 
}

/* Educación */

#educacion {
  background-color: #373a3c;
  color: white; 
}

.card-body.text-dark {
  color:  #373a3c; 
  height:auto;
}

#educacion button {
  background-color: #72403E;
  color: #fff; 
  border: none; 
}
#educacion button:hover {
  background-color: #924541; 
}

#educacion button:focus,
#educacion button:active {
  background-color: #9b3a2e; 
  outline: none; 
}

.bg-uni {
  background-color: rgb(182, 210, 201);
}

/* Portafolio */

#Portafolio {
  background-color:   #493230;
}

#Portafolio h2 {
  text-align: center;
  font-weight: 700;
  color:white;
  font-size: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #373a3c;
}


.carousel-indicators button {
  background-color: #373a3c;
  border-color: #373a3c;
}

.carousel-indicators .active {
  background-color:  #72403E;
  border-color: #72403E;
}

.carousel-caption {
  color:goldenrod;
}

.imgPortafolio {
  width: 80%;
  height: 400px;
  margin: auto;
}

.personalice-carousel {
  background-color: #493230;
}

/* Footer */

footer {
  background-color: #72403E;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  #Hero-Section {
    width: 100%;
    height: 300px;
  }

  .navbar-brand {
    width: 100px;
  }


}

.card {
  height: 35rem;

}


.card h5 {
  text-align: center;

}